<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
	<header th:replace="snippets.html :: name_site_navbar"></header>

	<main class="container login-signup-form">
		<!-- Blank Row -->
		<div class="row">
			&nbsp;
		</div>
		<!-- Blank Row -->
		<div class="row">
			&nbsp;
		</div>
		<div class="card col-4">
			<div class="card-header">
				Sign Up
			</div>
			<div class="card-body">
				<form class="form" id="signup-form" method="POST" th:action="@{/session/signup}">
					<div class="form-outline mb-4">
						<input type="email" id="forEmail" class="form-control" name="email">
						<label class="form-label" for="forEmail">Email address</label>
					</div>
					<div class="form-outline mb-4">
						<input type="password" id="forPassword" class="form-control" name="password">
						<label class="form-label" for="forPassword">Password</label>
					</div>
					<button type="submit" class="btn btn-primary btn-block mb-4" id="signup">Sign Up</button>
					<div class="text-center">
						<p>Already a member? <a th:href="@{/site/login}">Login</a></p>
					</div>
				</form>
			</div>
		</div>
	</main>

	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/signup.js}"></script>
</body>

</html>